/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 de abr. de 2022, 16:33:08
    Author     : luiz_
*/

    
    body{
        background:#d2d2c1 url(img/fundo.png) ;
        font: 16px Arial, helvetica, sans-serif;
          display: flex;
             justify-content: center;
    }
    #principal{

        width: 900px;
    
    }
    #menu{
        background: #c5c5b2;
        padding: 18px; 
    }
    a{
        color: #4b566a;
        text-decoration: none;
        font-weight: bold;
        padding: 5px
        }
        #conteudo{
            background: #e8e8d9;
            padding: 10px;
           
            text-align: center;
            
            
        }
        .rodape{
            text-align: center;
        }
        .imgCenter{
            text-align: center;
            padding: 40px;
        }
        h1{
            color: #828271;
            text-decoration: none;
            font-size: 1.2em;
        }
        .img-campanha{
         border:10px solid #c3c3ae;  
         text-align:center;
         
        }
        .paragrafo{
    width: 600px; 
    margin-left: auto;
    margin-right: auto;
     text-align: justify;
    
            
        }
 